name: MLOps Model CI + MLflow + Data Poisioned

on:
  push:
    branches:
      - dev
      - main
  pull_request:
    branches:
      - main
permissions:
    contents: write
    pull-requests: write

jobs:
  test-and-validate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
    
      - name: Setup CML (Continuous Machine Learning)
        uses: iterative/setup-cml@v2.0.1
        

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install scikit-learn pandas numpy pytest joblib matplotlib dvc dvc-gs mlflow tabulate
          pip install dvc[gcs]
        
      - name: Google Cloud Authentication
        id: 'auth'
        uses: 'google-github-actions/auth@v3'
        with:
          credentials_json: '${{ secrets.GCP_SA }}'
    
      - name: Pulling Data using DVC
        run: |
          dvc pull
      
      - name: Training Model
        run: |
          python3 model_train.py

      
      - name: Create cml report
        run: |
          # --- 1. Create the base report content ---
          echo "# CML Report" > report.md
          
          # --- 2. Data Poisoing Results ---
          echo "## Data Poisoning Done at 0% 5% 10% 15% 25% 50% 75%" >> report.md
          
          # Post the entire report.md content as a comment
          cml comment create report.md
        
        
        env:
          REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
